.main-section-container{
  min-height: 93vh;
  width: 100%;
  background-color: rgba(137, 226, 137, .3);
}

.main-section-parent{
  width: 60%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}