.note-container-heading{
  width: 90%;
  background: #BCDAC3;
  margin: 1rem auto;
  border-radius: 1rem;
  cursor: pointer;
}

.note-parent-heading{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1.3rem 1rem;
}

.note-parent-heading h2, h3{
  color:#375A37;
  overflow: hidden;
  text-overflow: ellipsis;
}